<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Azymuthia Security Bundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
